[submodule "stationapi"]
	path = stationapi
	url = git@github.com:HeronAlexandria/stationapi.git
[submodule "dsrc"]
	path = dsrc
	url = git@github.com:HeronAlexandria/dsrc.git
[submodule "src"]
	path = src
	url = git@github.com:HeronAlexandria/src.git
[submodule "serverdata"]
	path = serverdata
	url = git@github.com:HeronAlexandria/serverdata.git
[submodule "exe"]
	path = exe
	url = git@github.com:SWG-Source/configs.git
	ignore = dirty

